
<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <ul class="nav">
          <li><%= link_to 'Gomitoban',"/toban",class: "navbar-brand" %></li>
        </ul>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'ユーザーをみる',"/login",class: "navbar-brand" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
